body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color:aliceblue; /* Warm, light background color */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
}
.left
{
    width: 200px;
    background-color: #082959; /* Warm, brown color */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    justify-content: space-around;
}